<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss01_belly.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{169,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{169,147}}</string>
                <key>sourceSize</key>
                <string>{173,147}</string>
            </dict>
            <key>boss01_chin.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,376},{87,102}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{87,102}}</string>
                <key>sourceSize</key>
                <string>{97,108}</string>
            </dict>
            <key>boss01_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{122,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{122,114}}</string>
                <key>sourceSize</key>
                <string>{122,120}</string>
            </dict>
            <key>boss01_leg0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{84,139}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,139}}</string>
                <key>sourceSize</key>
                <string>{90,141}</string>
            </dict>
            <key>boss01_leg0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,138},{90,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,165}}</string>
                <key>sourceSize</key>
                <string>{90,169}</string>
            </dict>
            <key>boss01_leg0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,235},{44,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,101}}</string>
                <key>sourceSize</key>
                <string>{44,103}</string>
            </dict>
            <key>boss01_leg0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,88},{61,154}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,154}}</string>
                <key>sourceSize</key>
                <string>{65,156}</string>
            </dict>
            <key>boss01_leg0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{60,178}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,178}}</string>
                <key>sourceSize</key>
                <string>{62,182}</string>
            </dict>
            <key>boss01_leg0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,379},{43,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,118}}</string>
                <key>sourceSize</key>
                <string>{45,118}</string>
            </dict>
            <key>boss01_leg0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,230},{49,136}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,136}}</string>
                <key>sourceSize</key>
                <string>{53,138}</string>
            </dict>
            <key>boss01_leg0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,64},{72,170}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,170}}</string>
                <key>sourceSize</key>
                <string>{74,170}</string>
            </dict>
            <key>boss01_leg0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,376},{53,109}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{53,109}}</string>
                <key>sourceSize</key>
                <string>{55,109}</string>
            </dict>
            <key>boss01_leg0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{75,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,118}}</string>
                <key>sourceSize</key>
                <string>{77,118}</string>
            </dict>
            <key>boss01_leg0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,151},{82,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{82,152}}</string>
                <key>sourceSize</key>
                <string>{82,158}</string>
            </dict>
            <key>boss01_leg0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,379},{49,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,114}}</string>
                <key>sourceSize</key>
                <string>{53,114}</string>
            </dict>
            <key>boss01_neck.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,480},{28,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{28,50}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>boss01_shotchin.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,353},{68,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,49}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>boss01_shotchin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,352},{68,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,49}}</string>
                <key>sourceSize</key>
                <string>{68,51}</string>
            </dict>
            <key>boss01_shothead.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,282},{69,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,70}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>boss01_shothead02.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,281},{69,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,70}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>boss01_tail01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,281},{79,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>boss01_tail0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,281},{79,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,93}}</string>
                <key>sourceSize</key>
                <string>{79,93}</string>
            </dict>
            <key>boss01_tail02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,235},{45,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,79}}</string>
                <key>sourceSize</key>
                <string>{45,79}</string>
            </dict>
            <key>boss01_tail0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,263},{45,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,79}}</string>
                <key>sourceSize</key>
                <string>{45,79}</string>
            </dict>
            <key>boss01_tail03.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,453},{62,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,48}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>boss01_tail0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,403},{62,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,48}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>boss02_wing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,110}}</string>
                <key>offset</key>
                <string>{133,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{523,347},{180,110}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BossSpider.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6be0c4549371546b75106704dc2374e:1/1$</string>
            <key>textureFileName</key>
            <string>BossSpider.pvr.ccz</string>
        </dict>
    </dict>
</plist>
