<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Atk_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1769},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Atk_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1605},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Atk_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1441},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Jump_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1099},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Jump_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1277},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Jump_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,836},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Skill_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1113},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Skill_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1770},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Skill_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1519},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>alertline_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{584,26}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{584,26}}</string>
                <key>sourceSize</key>
                <string>{600,110}</string>
            </dict>
            <key>alertline_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,1358},{532,6}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,56},{532,6}}</string>
                <key>sourceSize</key>
                <string>{600,110}</string>
            </dict>
            <key>attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1128},{226,236}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{226,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>banner_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{38,663}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{38,663}}</string>
                <key>sourceSize</key>
                <string>{40,667}</string>
            </dict>
            <key>btn_editor.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1944},{161,98}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{161,98}}</string>
                <key>sourceSize</key>
                <string>{165,98}</string>
            </dict>
            <key>btn_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1793},{386,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,142}}</string>
                <key>sourceSize</key>
                <string>{386,144}</string>
            </dict>
            <key>btn_helpme.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1356},{382,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,142}}</string>
                <key>sourceSize</key>
                <string>{382,142}</string>
            </dict>
            <key>btn_hl_editor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1944},{162,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,98}}</string>
                <key>sourceSize</key>
                <string>{166,98}</string>
            </dict>
            <key>btn_hl_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1357},{386,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,142}}</string>
                <key>sourceSize</key>
                <string>{386,142}</string>
            </dict>
            <key>btn_hl_helpme.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1799},{382,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,143}}</string>
                <key>sourceSize</key>
                <string>{382,143}</string>
            </dict>
            <key>btn_hl_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,693},{385,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{385,216}}</string>
                <key>sourceSize</key>
                <string>{385,218}</string>
            </dict>
            <key>btn_hl_run.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1113},{236,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{236,182}}</string>
                <key>sourceSize</key>
                <string>{242,182}</string>
            </dict>
            <key>btn_hl_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1683},{157,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,85}}</string>
                <key>sourceSize</key>
                <string>{157,85}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1000},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{83,79}}</string>
                <key>sourceSize</key>
                <string>{93,91}</string>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1357},{386,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{386,216}}</string>
                <key>sourceSize</key>
                <string>{386,218}</string>
            </dict>
            <key>btn_run.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,366},{236,181}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{236,181}}</string>
                <key>sourceSize</key>
                <string>{242,183}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1023},{156,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>coin_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1745},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1745},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1745},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1745},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,1892},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,369},{289,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{289,126}}</string>
                <key>sourceSize</key>
                <string>{291,128}</string>
            </dict>
            <key>door_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,964},{57,131}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{57,131}}</string>
                <key>sourceSize</key>
                <string>{113,173}</string>
            </dict>
            <key>door_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1790},{85,137}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{85,137}}</string>
                <key>sourceSize</key>
                <string>{113,173}</string>
            </dict>
            <key>door_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1937},{107,173}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,173}}</string>
                <key>sourceSize</key>
                <string>{113,173}</string>
            </dict>
            <key>editorFrame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1944},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{362,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,184}}</string>
                <key>sourceSize</key>
                <string>{362,184}</string>
            </dict>
            <key>help_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1944},{345,89}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{345,89}}</string>
                <key>sourceSize</key>
                <string>{375,93}</string>
            </dict>
            <key>help_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{365,83}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{365,83}}</string>
                <key>sourceSize</key>
                <string>{375,93}</string>
            </dict>
            <key>help_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,660},{361,83}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{361,83}}</string>
                <key>sourceSize</key>
                <string>{375,93}</string>
            </dict>
            <key>hp_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,693},{438,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,40}}</string>
                <key>sourceSize</key>
                <string>{438,40}</string>
            </dict>
            <key>hp_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,693},{437,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,43}}</string>
                <key>sourceSize</key>
                <string>{437,43}</string>
            </dict>
            <key>hp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1358},{439,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,45}}</string>
                <key>sourceSize</key>
                <string>{439,45}</string>
            </dict>
            <key>hp_spit.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1849},{4,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,37}}</string>
                <key>sourceSize</key>
                <string>{4,37}</string>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1277},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>item_buildland.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1745},{46,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_dad.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1745},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1080},{44,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1799},{48,41}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,41}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_mag.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1745},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_spare.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1080},{46,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,41}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_timecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1745},{46,45}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{46,45}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>kmd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1527},{152,174}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{152,174}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>kmd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1351},{152,174}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{152,174}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>menu_cf.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,346},{234,139}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{234,139}}</string>
                <key>sourceSize</key>
                <string>{238,139}</string>
            </dict>
            <key>menu_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,836},{176,104}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,104}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>menu_zj.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1133},{222,108}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{222,108}}</string>
                <key>sourceSize</key>
                <string>{234,108}</string>
            </dict>
            <key>num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1000},{160,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{160,79}}</string>
                <key>sourceSize</key>
                <string>{170,91}</string>
            </dict>
            <key>spider_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,599},{235,178}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{235,178}}</string>
                <key>sourceSize</key>
                <string>{269,198}</string>
            </dict>
            <key>spider_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1128},{227,180}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{227,180}}</string>
                <key>sourceSize</key>
                <string>{269,198}</string>
            </dict>
            <key>spider_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,362},{235,178}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{235,178}}</string>
                <key>sourceSize</key>
                <string>{269,198}</string>
            </dict>
            <key>spider_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1128},{227,180}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{227,180}}</string>
                <key>sourceSize</key>
                <string>{269,198}</string>
            </dict>
            <key>stone_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1703},{85,168}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{85,168}}</string>
                <key>sourceSize</key>
                <string>{87,180}</string>
            </dict>
            <key>stone_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1351},{160,166}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{160,166}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>stone_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1519},{83,166}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{83,166}}</string>
                <key>sourceSize</key>
                <string>{87,180}</string>
            </dict>
            <key>sword_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1703},{138,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,86}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{479,689}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,689}}</string>
                <key>sourceSize</key>
                <string>{479,689}</string>
            </dict>
            <key>v_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,1933},{77,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,130}}</string>
                <key>sourceSize</key>
                <string>{77,130}</string>
            </dict>
            <key>v_mn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1263},{121,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,132}}</string>
                <key>sourceSize</key>
                <string>{121,132}</string>
            </dict>
            <key>v_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1023},{88,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,117}}</string>
                <key>sourceSize</key>
                <string>{88,117}</string>
            </dict>
            <key>v_tj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1933},{107,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,116}}</string>
                <key>sourceSize</key>
                <string>{107,116}</string>
            </dict>
            <key>wood01_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1934},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>wood01_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1014},{83,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,110}}</string>
                <key>sourceSize</key>
                <string>{83,110}</string>
            </dict>
            <key>wood01_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1934},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>wood02.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,693},{200,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,433}}</string>
                <key>sourceSize</key>
                <string>{200,433}</string>
            </dict>
            <key>zhanli_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,604},{186,358}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,27},{186,358}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>zhanli_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{194,358}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,27},{194,358}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tempRes.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0c792f615458abff952ceeb478ad124:1/1$</string>
            <key>textureFileName</key>
            <string>tempRes.png</string>
        </dict>
    </dict>
</plist>
