<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Atk_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1360},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Atk_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1275},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Atk_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1449},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Jump_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1359},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Jump_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1196},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Jump_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1111},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Skill_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1285},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Skill_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1195},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Skill_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1121},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>alertline_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{584,26}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{584,26}}</string>
                <key>sourceSize</key>
                <string>{600,110}</string>
            </dict>
            <key>alertline_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{532,6}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,56},{532,6}}</string>
                <key>sourceSize</key>
                <string>{600,110}</string>
            </dict>
            <key>attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{226,236}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{226,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>banner_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,663}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{38,663}}</string>
                <key>sourceSize</key>
                <string>{40,667}</string>
            </dict>
            <key>btn_editor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1613},{161,98}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{161,98}}</string>
                <key>sourceSize</key>
                <string>{165,98}</string>
            </dict>
            <key>btn_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{386,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,142}}</string>
                <key>sourceSize</key>
                <string>{386,144}</string>
            </dict>
            <key>btn_helpme.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,536},{382,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,142}}</string>
                <key>sourceSize</key>
                <string>{382,142}</string>
            </dict>
            <key>btn_hl_editor.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1523},{162,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,98}}</string>
                <key>sourceSize</key>
                <string>{166,98}</string>
            </dict>
            <key>btn_hl_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{386,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,142}}</string>
                <key>sourceSize</key>
                <string>{386,142}</string>
            </dict>
            <key>btn_hl_helpme.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,70},{382,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,143}}</string>
                <key>sourceSize</key>
                <string>{382,143}</string>
            </dict>
            <key>btn_hl_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,680},{385,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{385,216}}</string>
                <key>sourceSize</key>
                <string>{385,218}</string>
            </dict>
            <key>btn_hl_run.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,710},{236,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{236,182}}</string>
                <key>sourceSize</key>
                <string>{242,182}</string>
            </dict>
            <key>btn_hl_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1520},{157,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,85}}</string>
                <key>sourceSize</key>
                <string>{157,85}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1524},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{83,79}}</string>
                <key>sourceSize</key>
                <string>{93,91}</string>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{386,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{386,216}}</string>
                <key>sourceSize</key>
                <string>{386,218}</string>
            </dict>
            <key>btn_run.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{236,181}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{236,181}}</string>
                <key>sourceSize</key>
                <string>{242,183}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1111},{156,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>bullet_net.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1376},{129,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{129,105}}</string>
                <key>sourceSize</key>
                <string>{129,107}</string>
            </dict>
            <key>bullet_poison.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1102},{169,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,91}}</string>
                <key>sourceSize</key>
                <string>{169,91}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,93},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>coin_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,308},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,256},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,204},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,421},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,369},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,983},{289,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{289,126}}</string>
                <key>sourceSize</key>
                <string>{291,128}</string>
            </dict>
            <key>door_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,236},{57,131}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{57,131}}</string>
                <key>sourceSize</key>
                <string>{113,173}</string>
            </dict>
            <key>door_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1289},{85,137}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{85,137}}</string>
                <key>sourceSize</key>
                <string>{113,173}</string>
            </dict>
            <key>door_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,983},{107,173}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,173}}</string>
                <key>sourceSize</key>
                <string>{113,173}</string>
            </dict>
            <key>editorFrame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1483},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,678},{362,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,184}}</string>
                <key>sourceSize</key>
                <string>{362,184}</string>
            </dict>
            <key>help_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{345,89}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{345,89}}</string>
                <key>sourceSize</key>
                <string>{375,93}</string>
            </dict>
            <key>help_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,437},{365,83}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{365,83}}</string>
                <key>sourceSize</key>
                <string>{375,93}</string>
            </dict>
            <key>help_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,898},{361,83}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{361,83}}</string>
                <key>sourceSize</key>
                <string>{375,93}</string>
            </dict>
            <key>hp_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{438,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,40}}</string>
                <key>sourceSize</key>
                <string>{438,40}</string>
            </dict>
            <key>hp_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{437,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,43}}</string>
                <key>sourceSize</key>
                <string>{437,43}</string>
            </dict>
            <key>hp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{439,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,45}}</string>
                <key>sourceSize</key>
                <string>{439,45}</string>
            </dict>
            <key>hp_spit.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,174},{4,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,37}}</string>
                <key>sourceSize</key>
                <string>{4,37}</string>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,174},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>item_buildland.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,545},{46,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_dad.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,452},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,635},{44,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,409},{48,41}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,41}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_mag.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,360},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_spare.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,592},{46,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,41}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_timecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,498},{46,45}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{46,45}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>kmd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1042},{152,174}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{152,174}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>kmd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,948},{152,174}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{152,174}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1439},{160,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{160,79}}</string>
                <key>sourceSize</key>
                <string>{170,91}</string>
            </dict>
            <key>saw.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,473},{203,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,199}}</string>
                <key>sourceSize</key>
                <string>{203,199}</string>
            </dict>
            <key>sword_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1201},{138,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,86}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>v_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,42},{77,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,130}}</string>
                <key>sourceSize</key>
                <string>{77,130}</string>
            </dict>
            <key>v_mn.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1276},{121,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,132}}</string>
                <key>sourceSize</key>
                <string>{121,132}</string>
            </dict>
            <key>v_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1410},{88,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,117}}</string>
                <key>sourceSize</key>
                <string>{88,117}</string>
            </dict>
            <key>v_tj.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1158},{107,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,116}}</string>
                <key>sourceSize</key>
                <string>{107,116}</string>
            </dict>
            <key>wood01_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1307},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>wood01_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1419},{83,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,110}}</string>
                <key>sourceSize</key>
                <string>{83,110}</string>
            </dict>
            <key>wood01_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1195},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tempRes.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:957d508ecc161f46b9404eb152ba9c29:1/1$</string>
            <key>textureFileName</key>
            <string>tempRes.png</string>
        </dict>
    </dict>
</plist>
