<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Atk_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1846},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Atk_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1682},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Atk_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1554},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Jump_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1518},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Jump_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1576},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Jump_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1805},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Skill_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1412},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Skill_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1248},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>Skill_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1084},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>alertline_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{584,26}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{584,26}}</string>
                <key>sourceSize</key>
                <string>{600,110}</string>
            </dict>
            <key>alertline_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{532,6}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,56},{532,6}}</string>
                <key>sourceSize</key>
                <string>{600,110}</string>
            </dict>
            <key>attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,130},{226,236}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{226,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>banner_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{38,663}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{38,663}}</string>
                <key>sourceSize</key>
                <string>{40,667}</string>
            </dict>
            <key>btn_editor.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,759},{161,98}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{161,98}}</string>
                <key>sourceSize</key>
                <string>{165,98}</string>
            </dict>
            <key>btn_hl_editor.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,483},{162,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,98}}</string>
                <key>sourceSize</key>
                <string>{166,98}</string>
            </dict>
            <key>btn_hl_run.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,358},{236,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{236,182}}</string>
                <key>sourceSize</key>
                <string>{242,182}</string>
            </dict>
            <key>btn_hl_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,647},{157,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,85}}</string>
                <key>sourceSize</key>
                <string>{157,85}</string>
            </dict>
            <key>btn_run.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,542},{236,181}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{236,181}}</string>
                <key>sourceSize</key>
                <string>{242,183}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,734},{156,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1461},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>coin_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,338},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,286},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,234},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,182},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,130},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{289,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{289,126}}</string>
                <key>sourceSize</key>
                <string>{291,128}</string>
            </dict>
            <key>door_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,783},{57,131}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{57,131}}</string>
                <key>sourceSize</key>
                <string>{113,173}</string>
            </dict>
            <key>door_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1176},{85,137}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{85,137}}</string>
                <key>sourceSize</key>
                <string>{113,173}</string>
            </dict>
            <key>door_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1805},{107,173}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,173}}</string>
                <key>sourceSize</key>
                <string>{113,173}</string>
            </dict>
            <key>editorFrame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,667},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{362,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,184}}</string>
                <key>sourceSize</key>
                <string>{362,184}</string>
            </dict>
            <key>help_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,519},{345,89}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{345,89}}</string>
                <key>sourceSize</key>
                <string>{375,93}</string>
            </dict>
            <key>help_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{365,83}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{365,83}}</string>
                <key>sourceSize</key>
                <string>{375,93}</string>
            </dict>
            <key>help_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{361,83}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{361,83}}</string>
                <key>sourceSize</key>
                <string>{375,93}</string>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,721},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>item_buildland.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,575},{46,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_dad.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,482},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,511},{44,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,439},{48,41}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,41}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_mag.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,390},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_spare.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,622},{46,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,41}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>item_timecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,528},{46,45}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{46,45}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>kmd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1000},{152,174}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{152,174}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>kmd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,824},{152,174}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{152,174}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>menu_cf.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1085},{234,139}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{234,139}}</string>
                <key>sourceSize</key>
                <string>{238,139}</string>
            </dict>
            <key>menu_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1181},{176,104}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,104}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>menu_zj.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1408},{222,108}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{222,108}}</string>
                <key>sourceSize</key>
                <string>{234,108}</string>
            </dict>
            <key>num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1636},{160,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{160,79}}</string>
                <key>sourceSize</key>
                <string>{170,91}</string>
            </dict>
            <key>spider_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,905},{235,178}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{235,178}}</string>
                <key>sourceSize</key>
                <string>{269,198}</string>
            </dict>
            <key>spider_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1226},{227,180}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{227,180}}</string>
                <key>sourceSize</key>
                <string>{269,198}</string>
            </dict>
            <key>spider_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,725},{235,178}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{235,178}}</string>
                <key>sourceSize</key>
                <string>{269,198}</string>
            </dict>
            <key>spider_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1226},{227,180}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{227,180}}</string>
                <key>sourceSize</key>
                <string>{269,198}</string>
            </dict>
            <key>stone_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1805},{85,168}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{85,168}}</string>
                <key>sourceSize</key>
                <string>{87,180}</string>
            </dict>
            <key>stone_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,916},{160,166}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{160,166}}</string>
                <key>sourceSize</key>
                <string>{160,180}</string>
            </dict>
            <key>stone_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1805},{83,166}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{83,166}}</string>
                <key>sourceSize</key>
                <string>{87,180}</string>
            </dict>
            <key>sword_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1041},{138,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,86}}</string>
                <key>sourceSize</key>
                <string>{140,86}</string>
            </dict>
            <key>tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{479,689}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,689}}</string>
                <key>sourceSize</key>
                <string>{479,689}</string>
            </dict>
            <key>v_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1386},{77,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,130}}</string>
                <key>sourceSize</key>
                <string>{77,130}</string>
            </dict>
            <key>v_mn.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1263},{121,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,132}}</string>
                <key>sourceSize</key>
                <string>{121,132}</string>
            </dict>
            <key>v_tf.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,922},{88,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,117}}</string>
                <key>sourceSize</key>
                <string>{88,117}</string>
            </dict>
            <key>v_tj.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1359},{107,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,116}}</string>
                <key>sourceSize</key>
                <string>{107,116}</string>
            </dict>
            <key>wood01_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1468},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>wood01_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1551},{83,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,110}}</string>
                <key>sourceSize</key>
                <string>{83,110}</string>
            </dict>
            <key>wood01_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1465},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>wood02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{200,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,433}}</string>
                <key>sourceSize</key>
                <string>{200,433}</string>
            </dict>
            <key>zhanli_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1273},{186,358}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,27},{186,358}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>zhanli_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1077},{194,358}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,27},{194,358}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tempRes.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39894f63dcc40fca18e45d73e1650a0a:1/1$</string>
            <key>textureFileName</key>
            <string>tempRes.png</string>
        </dict>
    </dict>
</plist>
