<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Leaves_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,260},{47,35}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{47,35}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Leaves_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1302},{33,39}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{33,39}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Leaves_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,309},{43,35}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{43,35}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Leaves_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,252},{25,29}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{25,29}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Leaves_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,341},{17,29}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{17,29}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Leaves_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,283},{23,27}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{23,27}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Leaves_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,231},{37,27}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{37,27}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Leaves_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,312},{21,27}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{21,27}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Leaves_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1302},{29,31}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{29,31}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>Leaves_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,354},{41,35}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,17},{41,35}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>alertline_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{584,26}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{584,26}}</string>
                <key>sourceSize</key>
                <string>{600,110}</string>
            </dict>
            <key>alertline_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,341},{532,6}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,56},{532,6}}</string>
                <key>sourceSize</key>
                <string>{600,110}</string>
            </dict>
            <key>alertline_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,109},{532,6}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,56},{532,6}}</string>
                <key>sourceSize</key>
                <string>{600,110}</string>
            </dict>
            <key>attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,792},{226,236}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{226,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>banner_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{38,663}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{38,663}}</string>
                <key>sourceSize</key>
                <string>{40,667}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1249},{84,79}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,79}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>btn_editor.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1951},{158,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,93}}</string>
                <key>sourceSize</key>
                <string>{158,93}</string>
            </dict>
            <key>btn_editor_hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1951},{158,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,93}}</string>
                <key>sourceSize</key>
                <string>{158,93}</string>
            </dict>
            <key>btn_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,885},{386,137}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{386,137}}</string>
                <key>sourceSize</key>
                <string>{386,139}</string>
            </dict>
            <key>btn_home_hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,497},{386,137}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{386,137}}</string>
                <key>sourceSize</key>
                <string>{386,139}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,776},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{83,79}}</string>
                <key>sourceSize</key>
                <string>{93,91}</string>
            </dict>
            <key>btn_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{545,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,108}}</string>
                <key>sourceSize</key>
                <string>{545,108}</string>
            </dict>
            <key>btn_rect_hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{545,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,108}}</string>
                <key>sourceSize</key>
                <string>{545,108}</string>
            </dict>
            <key>btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1337},{380,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{380,212}}</string>
                <key>sourceSize</key>
                <string>{380,214}</string>
            </dict>
            <key>btn_restart_hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1337},{380,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{380,212}}</string>
                <key>sourceSize</key>
                <string>{380,214}</string>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{386,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,211}}</string>
                <key>sourceSize</key>
                <string>{386,211}</string>
            </dict>
            <key>btn_resume_hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{386,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,211}}</string>
                <key>sourceSize</key>
                <string>{386,211}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1020},{157,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,91}}</string>
                <key>sourceSize</key>
                <string>{157,91}</string>
            </dict>
            <key>btn_setting_hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1930},{157,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,91}}</string>
                <key>sourceSize</key>
                <string>{157,91}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1704},{230,182}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{230,182}}</string>
                <key>sourceSize</key>
                <string>{234,184}</string>
            </dict>
            <key>btn_start_hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1719},{230,182}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{230,182}}</string>
                <key>sourceSize</key>
                <string>{234,184}</string>
            </dict>
            <key>bullet_net01.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,203},{103,75}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{103,75}}</string>
                <key>sourceSize</key>
                <string>{113,85}</string>
            </dict>
            <key>bullet_net02.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1930},{107,81}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{107,81}}</string>
                <key>sourceSize</key>
                <string>{113,85}</string>
            </dict>
            <key>bullet_net03.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,308},{101,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{101,75}}</string>
                <key>sourceSize</key>
                <string>{113,85}</string>
            </dict>
            <key>bullet_net04.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1930},{107,81}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{107,81}}</string>
                <key>sourceSize</key>
                <string>{113,85}</string>
            </dict>
            <key>bullet_poison01.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1858},{135,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,73}}</string>
                <key>sourceSize</key>
                <string>{135,73}</string>
            </dict>
            <key>bullet_poison02.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1855},{133,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,73}}</string>
                <key>sourceSize</key>
                <string>{135,73}</string>
            </dict>
            <key>bullet_poison03.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1858},{135,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,73}}</string>
                <key>sourceSize</key>
                <string>{135,73}</string>
            </dict>
            <key>bullet_poison04.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1858},{135,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,73}}</string>
                <key>sourceSize</key>
                <string>{135,73}</string>
            </dict>
            <key>bullet_poison05.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1858},{135,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,73}}</string>
                <key>sourceSize</key>
                <string>{135,73}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1335},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,342}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>coin_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1553},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1615},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,1667},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1615},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1179},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>door_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,643},{57,131}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{57,131}}</string>
                <key>sourceSize</key>
                <string>{113,173}</string>
            </dict>
            <key>door_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1017},{85,137}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{85,137}}</string>
                <key>sourceSize</key>
                <string>{113,173}</string>
            </dict>
            <key>door_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1936},{107,173}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,173}}</string>
                <key>sourceSize</key>
                <string>{113,173}</string>
            </dict>
            <key>editorFrame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1249},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{84,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>editorFrame_node.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1249},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{84,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,387},{242,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,133}}</string>
                <key>sourceSize</key>
                <string>{242,135}</string>
            </dict>
            <key>effect_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,252},{242,133}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,133}}</string>
                <key>sourceSize</key>
                <string>{242,135}</string>
            </dict>
            <key>exclamation_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1933},{89,107}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{89,107}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>exclamation_net.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1933},{89,107}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{89,107}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1719},{300,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,303}}</string>
                <key>sourceSize</key>
                <string>{300,303}</string>
            </dict>
            <key>help_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1335},{345,89}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{345,89}}</string>
                <key>sourceSize</key>
                <string>{375,93}</string>
            </dict>
            <key>help_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1337},{365,83}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{365,83}}</string>
                <key>sourceSize</key>
                <string>{375,93}</string>
            </dict>
            <key>help_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1336},{361,83}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{361,83}}</string>
                <key>sourceSize</key>
                <string>{375,93}</string>
            </dict>
            <key>hp_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,58},{945,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{945,54}}</string>
                <key>sourceSize</key>
                <string>{945,56}</string>
            </dict>
            <key>hp_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,2},{945,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{945,54}}</string>
                <key>sourceSize</key>
                <string>{945,56}</string>
            </dict>
            <key>hp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{945,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{945,56}}</string>
                <key>sourceSize</key>
                <string>{945,56}</string>
            </dict>
            <key>hp_spit.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,60},{8,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,47}}</string>
                <key>sourceSize</key>
                <string>{8,47}</string>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1273},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>item_buildland.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1334},{82,63}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{82,63}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>item_dad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1486},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{58,65}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>item_fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1273},{60,63}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,21},{60,63}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>item_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1418},{66,55}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{66,55}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>item_mag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1418},{64,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,28},{64,63}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>item_reborn.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1273},{60,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{60,61}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>item_spare.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,1553},{60,55}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{60,55}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>item_timecoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,163},{74,87}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{74,87}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>kmd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1679},{152,174}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{152,174}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>kmd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1682},{152,174}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{152,174}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{518,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,458}}</string>
                <key>sourceSize</key>
                <string>{518,458}</string>
            </dict>
            <key>music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,657},{241,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,133}}</string>
                <key>sourceSize</key>
                <string>{241,133}</string>
            </dict>
            <key>music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,522},{241,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,133}}</string>
                <key>sourceSize</key>
                <string>{241,133}</string>
            </dict>
            <key>num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1679},{160,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{160,79}}</string>
                <key>sourceSize</key>
                <string>{170,91}</string>
            </dict>
            <key>power_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1192},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,109}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>power_proBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1082},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,109}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>saw.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,60},{190,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,191}}</string>
                <key>sourceSize</key>
                <string>{190,191}</string>
            </dict>
            <key>spider_poison_alert.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,372},{119,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,5}}</string>
                <key>sourceSize</key>
                <string>{119,5}</string>
            </dict>
            <key>tap01.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,875},{153,140}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{153,140}}</string>
                <key>sourceSize</key>
                <string>{159,144}</string>
            </dict>
            <key>tap02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,2},{145,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{145,140}}</string>
                <key>sourceSize</key>
                <string>{159,144}</string>
            </dict>
            <key>tap03.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1179},{153,140}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{153,140}}</string>
                <key>sourceSize</key>
                <string>{159,144}</string>
            </dict>
            <key>tap04.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1179},{153,140}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{153,140}}</string>
                <key>sourceSize</key>
                <string>{159,144}</string>
            </dict>
            <key>warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{739,101}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{739,101}}</string>
                <key>sourceSize</key>
                <string>{749,107}</string>
            </dict>
            <key>warning_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1020},{227,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,227}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>wood01_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,911},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>wood01_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,997},{83,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,110}}</string>
                <key>sourceSize</key>
                <string>{83,110}</string>
            </dict>
            <key>wood01_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,411},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tempRes.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b393d01669126faf029215a8fc139368:1/1$</string>
            <key>textureFileName</key>
            <string>tempRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
